body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  padding: 20px;
}

h1 {
  text-align: center;
}

.form, .filter {
  text-align: center;
  margin-bottom: 15px;
}

input, select, button {
  padding: 8px;
  margin: 5px;
}

button {
  cursor: pointer;
}

table {
  width: 100%;
  background: white;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

/* Status Colors */
.Applied {
  color: blue;
  font-weight: bold;
}

.Interview {
  color: orange;
  font-weight: bold;
}

.Selected {
  color: green;
  font-weight: bold;
}

.Rejected {
  color: red;
  font-weight: bold;
}
